<%- include('./includes/head.ejs') %>
   <div class="container">
        <div class="row">
            <form action="../user/update-information" method="POST">
                <div class="form-group">
                    <label for="name">Tên nhân viên</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%=user.name%>" readonly>
                </div>
                <div class="form-group">
                    <label for="id">Mã nhân viên</label>
                    <input type="text" class="form-control" id="id" name="id" value="<%=user._id%>" readonly>
                </div>
                <div class="form-group">
                    <label for="doB">Ngày sinh</label>
                    <input type="text" class="form-control" id="doB" name="doB" value="<%=user.doB%>" readonly>
                </div>
                <div class="form-group">
                    <label for="salaryScale">Hệ số lương</label>
                    <input type="text" class="form-control" id="salaryScale" name="salaryScale" value="<%=user.salaryScale%>" readonly>
                </div>
                <div class="form-group">
                    <label for="startDate">Ngày nhập công ty</label>
                    <input type="text" class="form-control" id="startDate" name="startDate" value="<%=user.startDate%>" readonly>
                </div>
                <div class="form-group">
                    <label for="department">Phòng ban</label>
                    <input type="text" class="form-control" id="department" name="department" value="<%=user.department%>" readonly>
                </div>
                <div class="form-group">
                    <label for="annualLeave">Số ngày phép</label>
                    <input type="text" class="form-control" id="annualLeave" name="annualLeave" value="<%=user.annualLeave%>" readonly>
                </div>
                <div class="form-group">
                    <label for="imageUrl">Ảnh</label>
                    <input type="file" class="form-control-file" name="<%=user.imageUrl%>" id="image">
                </div>
                <div class="form-group">
                    <input type="submit" value="Cập nhật" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
<%- include('./includes/footer.ejs') %>