<%- include('../includes/head.ejs') %>
   <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card">
                    <h3 class="card-title">Đăng ký dương tính</h3>
                    <div class="card-body">
                        <form action="../user/covid/post-covid-registered" method="POST">
                            <div class="form-group text-center">
                                <input type="submit" value="Xác nhận" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <h3 class="card-title">Đăng ký thân nhiệt hàng ngày</h3>
                    <div clas="card-body">
                        <form action="../user/covid/post-temp" method="POST">
                            <div class="form-group">
                                <label for="temp">Nhiệt độ: </label>
                                <input type="number" class="form-control" id="temp" name="temp">
                            </div>
                            <div class="form-group text-center">
                                <input type="submit" value="Xác nhận" class="btn btn-primary">
                            </div>
                        </form>
                        <hr>
                        <div>
                            <h3 class="text-center">Lịch sử nhiệt độ</h3>
                            <% if (tempReport.length>0) {%>
                                <ul>
                                    <% tempReport.forEach(temp=>{%>
                                        <li>
                                            <p><b><%=temp.time%></b>: <%=temp.temp%></p>
                                        </li>
                                    <%})%>
                            <%}else{%>
                                <p>Chưa có dữ liệu</p>
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <h3 class="card-title">Đăng ký thông tin vaccine</h3>
                    <div clas="card-body">
                        <form action="../user/covid/post-vaccine" method="POST">
                            <div class="form-group">
                                <label for="times">Mũi thứ</label>
                                <input type="text" class="form-control" id="times" name="times">
                            </div>
                            <div class="form-group">
                                <label for="vaccine">Loại vaccine</label>
                                <input type="text" class="form-control" id="vaccine" name="vaccine">
                            </div>
                            <div class="form-group">
                                <label for="date">Ngày tiêm</label>
                                <input type="date" class="form-control" id="date" name="date">
                            </div>
                            <div class="form-group text-center">
                                <input type="submit" value="Xác nhận" class="btn btn-primary">
                            </div>
                        </form>
                        <hr>
                        <div>
                            <h3 class="text-center">Lịch sử vaccine</h3>
                            <% if (vaccine.length>0) {%>
                                <ul>
                                    <% vaccine.forEach(vaccine=>{%>
                                        <li>
                                            <p><b>Lần <%=vaccine.times%>(<%= vaccine.name%>)</b>: <%=vaccine.date%></p>
                                        </li>
                                    <%})%>
                            <%}else{%>
                                <p>Chưa có dữ liệu</p>
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('../includes/footer.ejs') %>